{% extends "weekly/base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block body %}
<div class="left">
    <div class="leftmenu">
        <ul>
            <li><a href=""><span>menu1menu1</span></a></li>
            <li><a href=""><span>menu1menu1</span></a></li>
            <li><a href=""><span>menu1menu1</span></a></li>
            <li><a href=""><span>menu1menu1</span></a></li>
        </ul>
    </div>
</div>
<div class="right">
    <div class="rbody">
        1
    </div>
</div>
{% endblock body %}