{% extends "weekly/base.html" %}
{% load static %}
{% block title %}Weekly{% endblock title %}
{% block username %}{{ username }}{% endblock username %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weekly.css' %}">
    <script src="{% static 'css/jquery.min.js' %}"></script>
    <script>
        $(function () {
            $("#addplan").click(function () {
                $("#olplan").append("<li>\n" +
                    "                                    <label><span>*</span>所属项目</label>\n" +
                    "                                    <select name=\"next_plan\" class=\"job-project-select\">\n" +
                    "                                        <option>--------------------</option>\n" +
                    "                                        {% for project in projects %}\n"+
                        "                                            <option>{{ project.project_name }}</option>\n"+
                        "                                        {% endfor %}\n" +
                    "                                    </select><label><span>*</span>工作内容</label>\n" +
                    "                                    <input name=\"next_plan\" class=\"job-content\"/>\n" +
                    "                                </li>");
            });
            $("#addrecord").click(function () {
                $(".job").append("<li>\n" +
                    "                                        <label><span>*</span>所属项目</label>\n" +
                    "                                        <select name=\"work_content\" class=\"job-project-select\">\n" +
                    "                                            <option>--------------------</option>\n" +
                    "                                            {% for project in projects %}\n"+
                        "                                                <option>{{ project.project_name }}</option>\n"+
                        "                                            {% endfor %}\n" +
                    "                                        </select><label><span>*</span>工作内容</label>\n" +
                    "                                        <input name=\"work_content\" class=\"job-content\"/>\n" +
                    "                                        <label><span>*</span></label>\n" +
                    "                                        <input name=\"work_content\" class=\"progress-value\"\n" +
                    "                                               onKeyUp=\"value=value.replace(/[^\\d]/g,'')\"\n" +
                    "                                               onbeforepaste=\"clipboardData.setData('text',clipboardData.getData('text').replace(/[^\\d]/g,''))\"/>\n" +
                    "                                        <label>%进度比例;</label>\n" +
                    {#"                                        <div>\n" +#}
                    {#"                                            <div class=\"upper-layer\">\n" +#}
                    {#"                                                <span class=\"display-value\"></span>\n" +#}
                    {#"                                            </div>\n" +#}
                    {#"                                        </div>\n" +#}
                    "                                    </li>");
            });
            $("ol").on("blur", ".progress-value", function () {
                let n = $(this).parent().index();
                $("ol li").eq(n).find(".upper-layer").css("width", $(this).val() + '%');
                $("ol li").eq(n).find(".display-value").text($(this).val() + '%');
            });
        });
    </script>
{% endblock style %}
{% block body %}

    <div class="left">
        <div class="leftmenu">
            <ul>
                <li><a href="{% url 'weekly_app:weekly_list' %}">历史周报</a></li>
                <li><a href="{% url 'weekly_app:weekly_content_writting' %}">编写周报</a></li>
                {#                <li><a href="{% url 'weekly_app:weekly' type_id='explanation' %}">未写周报说明</a></li>#}
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="rbody">
            <div class="sbody">
                <div>
                    {#                周报首页#}
                </div>

                <!-- View weekly form -->
                {% if type_id == 'weekList' %}
                    <p style="padding-bottom: 5px;border-bottom: 1px solid #d4d4d4;font-weight: 700;">往期周报查看</p>
                    <table class="weeklytable">
                        <thead>
                        <tr style="height: 45px; line-height: 30px;text-align:center;">
                            <th style="width: 6%;">#</th>
                            <th style="width: 47%;">周报编号</th>
                            <th style="width: 47%;">时间范围</th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center;">
                        {% for rec in weekly_records %}
                            <tr>
                                <th style="width: 6%;">{{ forloop.counter }}</th>
                                <td style="width: 47%;"><a
                                        href="{% url 'weekly_app:weekly_content_view' rec.weeklyNumber %}">{{ rec.weeklyNumber }}</a>
                                </td>
                                <td style="width: 47%;">{{ rec.timeLimit }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <!-- END View weekly form -->
                <!-- Writting Weekly form -->
                {% if type_id == 'writting' %}
                    <p style="padding-bottom: 5px;border-bottom: 1px solid #d4d4d4;font-weight: 700;">周报编写</p>
                    <form class="weekly-write" action="{% url 'weekly_app:weekly_content_writting' %}" method="POST">
                        {% csrf_token %}
                        <div class="weekly-subtitle">
                            <label>周报编号:</label>
                            <input name="weeklyNumber" {% if 'add' == subtitle %}
                                   value="第{{ record.weeklyNumber }}期周报" {% elif 'view' == subtitle %}
                                   value="{{ record.weeklyNumber }}" {% endif %}
                                   readonly>
                            <label>时间限制:</label>
                            <input name="timeLimit" value="{{ record.timeLimit }}" readonly>
                        </div>
                        <div class="weekly-subtitle">
                            <label>所属部门:</label>
                            <input type="text" name="department" {% if 'add' == subtitle %}
                                   value="{{ department.1 }}" {% elif 'view' == subtitle %}
                                   value="{{ record.department }}" {% endif %}>
                            <label>Your Name:</label>
                            <input type="text" name="username" value="{{ username }}">
                        </div>
                        <div class="row">
                            <fieldset class="row-title">
                                <legend>
                                    <span>本周工作任务</span>
                                    <button id="addrecord" type="button" {% if 'view' == subtitle %}disabled
                                            style="cursor: auto;" {% endif %}>增加一行记录
                                    </button>
                                </legend>
                            </fieldset>
                            <div>
                                <ol class="job">
                                    {% if "add" == subtitle %}

                                    {% elif 'view' == subtitle %}
                                        {% for ele in weekly_content %}
                                            <li>
                                                <label><span>*</span>所属项目</label>
                                                <select name="work_content" class="job-project-select" readonly="">
                                                    <option>{{ ele.0 }}</option>
                                                </select><label><span>*</span>工作内容</label>
                                                <input name="work_content" class="job-content" value="{{ ele.1 }}"
                                                       readonly/>
                                                <label><span>*</span></label>
                                                <input name="work_content" class="progress-value" readonly
                                                       value="{{ ele.2 }}"/>
                                                <label>%完成进度；</label>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset class="row-title">
                                <legend>
                                    <span>下周工作计划</span>
                                    <button id="addplan" type="button" {% if 'view' == subtitle %}disabled
                                            style="cursor: auto;" {% endif %}>
                                        增加一行记录
                                    </button>
                                </legend>
                            </fieldset>
                            <ol id="olplan">
                                {% if "add" == subtitle %}

                                {% elif "view" == subtitle %}
                                    {% for ele in plan_content %}
                                        <li>
                                            <label><span>*</span>所属项目</label>
                                            <select name="nwp_project_name" class="job-project-select" readonly="">
                                                <option>{{ ele.0 }}</option>
                                            </select><label><span>*</span>工作内容</label>
                                            <input name="nwp_job_content" class="job-content" value="{{ ele.1 }}"
                                                   readonly/>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        </div>
                        <div>
                            <fieldset class="row-title">
                                <legend><span>工作问题或建议</span></legend>
                            </fieldset>
                            <div>
                                <textarea name="problems_in_work" class="form-textarea" rows="3"
                                          style="width: 100%;"></textarea>
                            </div>

                        </div>
                        <div style="width: 100%; text-align: center;margin: 5px 0;">
                            {% if "add" == subtitle %}
                                <button class="btn-weekly-content-submit" type="submit">提交</button>
                            {% elif "view" == subtitle %}
                                <button class="btn-weekly-content-submit" type="submit" disabled>本周已提交
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
                <!-- Unwritten explanation -->
                {% if type_id == 'explanation' %}
                    <p style="padding-bottom: 5px;border-bottom: 1px solid #d4d4d4;font-weight: 700;">填写未提交周报说明</p>
                    <form class="weekly-write">
                        <div>
                            <table>
                                <tr>
                                    <td width="12%;"><label>周报编号:</label></td>
                                    <td width="35%;"><input type="text" name=""></td>
                                    <td width="12%;"><label>时间限制:</label></td>
                                    <td width="35%;"><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td><label>所属部门:</label></td>
                                    <td><input type="text" name=""></td>
                                    <td><label>员工名字:</label></td>
                                    <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td><label style="height:100px;vertical-align: top;">Summary of work <br/>this
                                        week:</label>
                                    </td>
                                    <td colspan="3"><textarea style="height: 220px;"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <a class="btnsubmit" href="{% url "weekly_app:weekly" type_id=2 %}">提交</a>
                    </form>
                {% endif %}
                <!-- END unwritten explanation -->
            </div>
        </div>
    </div>
{% endblock body %}